# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\furnitureConstructor\SmartFurnitureConstructor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
